<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.url == "/" %}{{ site.data.general_settings.title }}{% elsif page.title %}{{ page.title }} · {{ site.data.general_settings.title }}{% else %}{{ site.data.general_settings.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | escape }}{% else %}{{ site.data.general_settings.description | escape }}{% endif %}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title | escape }} · {% endif %}{{ site.data.general_settings.title }}">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | escape }}{% else %}{{ site.data.general_settings.description | escape }}{% endif %}">
  <meta property="og:title" content="{% if page.title %}{{ page.title | escape }} · {% endif %}{{ site.data.general_settings.title }}">
  <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | escape }}{% else %}{{ site.data.general_settings.description | escape }}{% endif %}">

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
  <script defer type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script defer nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

  <link rel="stylesheet" href="/assets/main.css">
  <link rel="stylesheet" href="/assets/sonomzy-vonge.css">
</head>
