<!-- begin header -->
<header class="c-header">
  <div class="container">
    <div class="row">
      <div class="c-header__inner">
        <div class="logo">
          <a class="logo__link sonomzy-wordmark" href="/" aria-label="Sonomzy home">Sonomzy</a>
        </div>

        <nav class="main-nav">
          <div class="main-nav__box">
            <div class="nav__icon-close">
              <ion-icon class="nav-icon-close" name="close"></ion-icon>
            </div>
            <div class="nav__title">Menu</div>
            <ul class="nav__list list-reset">
              {% for item in site.data.navigation.menu__settings.menu__items %}
                <li class="nav__item">
                  {% if item.url contains '://' %}
                    <a href="{{ item.url }}" class="nav__link" target="_blank" rel="noopener">{{ item.title }}</a>
                  {% else %}
                    <a href="{{ item.url | relative_url }}" class="nav__link{% if page.url == item.url %} active-link{% endif %}">{{ item.title }}</a>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </div>
        </nav>

        <div class="nav-button">
          <ion-icon class="nav__icon-menu" name="menu-outline"></ion-icon>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- end header -->
